.RickAndMorty-Wrapper {
  padding: 5%;
  color: white;
}

.RickAndMorty-Content {
  display: flex;
  justify-content: space-around;
  padding: 0 5%;
}

.fetching-character {
  width: 50%;
}

.fetched-characters {
  width: 50%;
}
